.tweet-card {
  border: 6px solid black;
  background: none;
  resize: none;
  width: 100%;
  outline: none;
  font-weight: 600;
  margin-top: 200px;
  
}

.user-tweet {
  margin: auto;
  border-top: 6px solid red;
  border-left: 6px solid red;
  border-right: 6px solid red;
  border-bottom: 6px solid black;
  background: none;
  width: 97%;
  outline: none;
  font-weight: 600;
}

.tweet-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.user-img {
  max-width: 100px;
  height: auto;
  border-radius: 50%;
}

.tweet-footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

