.tweetButton{
  text-transform: uppercase;
  font-family: 'Bungee', cursive;
  text-align: center;
  position: relative;
  text-decoration: none;
  display: flex;
  border: none;
  background: none;
  background-color: #4056A1;
  color: #FFFFFF;  
  margin-top: 5px;

}

.counter {
font-family: 'Bungee', cursive;
display: flex;
justify-content: end;
margin-top: -33px;

}

#tweet-text {
border-top: none;
border-left: none;
border-right: none;
border-bottom: 6px solid black;
background: none;
resize: none;
width: 100%;
outline: none;
font-weight: 300;
}

.tweetLabel {
font-weight: 600;
color: grey;
}

.error-no-content {
  color: red;
  display: flex;
  justify-content: center;
  margin-top: -5%;
}

.error-too-many {
  color: red;
  display: flex;
  justify-content: center;
  margin-top: -5%;
}